body {background-color: black}

.style1 { color:crimson
}
.style2 { color:whitesmoke;list-style:square;color: aqua;
}
.style22 {}
.style23 {}
 
.style3 { color:whitesmoke;
list-style-type: upper-roman;
}
.style4 { color:whitesmoke;

}
.style5 { color:whitesmoke

}
.style6 { color:whitesmoke
 
}

h1 { color:whitesmoke

}
h2 { color:whitesmoke

}
h3 { color:whitesmoke

}
